<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="LifvsDb"
         connectionString="Data Source=SERVER;Initial Catalog=LifvsDevDb;User ID=USER_NAME;Password=PASSWORD;MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></add>
  </connectionStrings>
    <appSettings>
        <add key="UserName" value="dev3.itpathsolutions@gmail.com"/>
        <add key="Password" value="ips12345"/>
        <add key="PushNotification_p12File" value="dev_lifvs_only_key_push.p12"/>
        <add key="PushNotification_p12ProdFile" value="prod_lifvs_only_key.p12"/>
        <add key="PushNotification_CertPassword" value="ips12345"/>
        <add key="StripSecretKey" value="sk_test_R9koWgJXB9ucjNnxez1bMO6n" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="StripPublishKey" value="pk_test_yKyfjqWLcIVQSQ34PhrkMnEI"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>