@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ListJs/Users.js"></script>
<style>
    .ui-jqgrid-bdiv {
        overflow-x: hidden !important;
        max-width: 99.8%;
    }

    .ui-jqgrid .ui-jqgrid-hdiv {
        max-width: 99.8%;
    }

    .ui-jqgrid .ui-jqgrid-pager {
        max-width: 99.8%;
    }
</style>
<div class="row justify-content-md-center">
    <div class="col-md-12">
        <span style="float:right;">
            <button type="button" class="btn btn-primary btn-sm" name="btnCancel" value="Request" onclick="window.location.href='@Url.Action("Index", "Dashboard")'">Back</button>
        </span>
    </div>
</div>
<br />
<div class="row justify-content-md-center">
    <div class="col-md-12">
        <table id="grid"></table>
        <div id="pager"></div>
    </div>
</div>
<script>
    $(window).on("resize", function () {
        var $grid = $("#grid"),
            newWidth = $grid.closest(".ui-jqgrid").parent().width();
        $grid.jqGrid("setGridWidth", newWidth, true);
    });
</script>